
.idea/
.idea/*.xml
gwt-unitCache/
war/lecturemanager/
war/WEB-INF/classes/
war/WEB-INF/deploy/
war/WEB-INF/lib/
.classpath
.project
LectureManager.iml
LectureManager.launch
LectureManager.war
classes/