<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
    <servlet>
        <servlet-name>com.google.lecture_manager.LectureManager UserService</servlet-name>
        <servlet-class>com.google.lecture_manager.server.UserServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LectureService</servlet-name>
        <servlet-class>com.google.lecture_manager.server.LectureServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.google.lecture_manager.LectureManager InitService</servlet-name>
        <servlet-class>com.google.lecture_manager.server.InitServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>com.google.lecture_manager.LectureManager UserService</servlet-name>
        <url-pattern>/lecturemanager/userService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LectureService</servlet-name>
        <url-pattern>/lecturemanager/lectureService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.google.lecture_manager.LectureManager InitService</servlet-name>
        <url-pattern>/lecturemanager/initService</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>LectureManager.html</welcome-file>
  </welcome-file-list>

</web-app>
